TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REQUEST_SIGN_VERIFY_DISABLE_ON_DEVELOPMENT=
REQUEST_SIGN_SECRET_SELF=
REQUEST_SIGN_SECRET_FEMODS=
REQUEST_SIGN_SECRET_FEID=
AUTH_VERIFY_DISABLE_ON_DEVELOPMENT=
RESPONSE_CACHE_DISABLE=
